body {

  background-color: #000000;
  margin: 0px;
  font-family: tahoma;
  color: #ffffff;

}

nav {
  display: flex;
  column-gap: 500px;
  padding-left: 50px;
}

.links {
  display: flex;
  column-gap: 100px;
}

.banner-container {
  height: 100vh
}

.h1 {
  position: relative;
  padding-top: 40vh;
  font-size: 10rem;
  text-align: center;
  margin: 0;
  color: #000;
}

#banner {
  min-width: 100%;
  max-height: 93%;
  position: absolute;
}

header {
  background-color: rgb(255, 0, 0);

}